body{

    background: #102C57;
    margin: 0;
    
    
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    
    
}

.cont1{
    grid-column: 1/2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 128px;
    
    
}


.cont1d1, .cont1d2, .cont1d3{
    background-color: #3C5B6F;
    grid-row: 1 / -1;
    width: 65px;
    margin-right: 20px;
}

.cont1d1 {
    
    grid-column: 1/2;
    
}

.cont1d2{
   
    grid-column: 2/3;
    
    
}

.cont1d3{
    
    grid-column: 3/4;
    
}



.cont2{
    grid-column: 1/14;
    grid-row: 1 / 9;
    display: grid;  
    grid-template-columns: repeat(1, 1fr);
}


.cont2d1 svg{
    fill: #ff8e00;
    
   
}
.cont2d1{

    grid-column: 1/1;

    display: grid;
    justify-content: end; /* Alineación horizontal a la esquina izquierda */
    align-items: start;
    height: 227px;
    
    

   

}



.cont2d2{

    grid-column: 1/1;
    align-items: end;
    justify-content: start;


    display: grid;
    
    
    
    

}

.cont2d2 svg{
    fill: #ff8e00;
    
    
}




.cont3{
    grid-column: 1/14;
    grid-row: 1 / 9;
    display: grid;  
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-width: 100%;
    
}

.cont3d1{
   
    grid-column: 2/4;
    grid-row: 2/5;
    display: grid; 
    grid-template: repeat(16, 1fr) / repeat(11, 1fr);
    margin-top: 35px;
}

.cont3d2{
    
    grid-column: 11/13;
    grid-row: 6/8;
    display: grid; 
    grid-template: repeat(16, 1fr) / repeat(11, 1fr);

}

.circulito1{
    
    border-radius: 50%;
    border: solid 10px #DFD0B8;
    width: 5vh;
    height: 5vh;
    margin: 5px;

}

.circulito2{
    
    border-radius: 50%;
    border: solid 10px #DFD0B8;
    width: 5vh;
    height: 5vh;
    margin: 5px;

}



.circulito1:nth-child(1) {
    grid-column: 2/4;
    grid-row: 2/4;
}

.circulito1:nth-child(2) {
    grid-column: 2/4;
    grid-row: 5/7;
}

.circulito1:nth-child(3) {
    grid-column: 2/4;
    grid-row: 8/10;
}

.circulito1:nth-child(4) {
    grid-column: 2/4;
    grid-row: 11/13;
}

.circulito1:nth-child(5) {
    grid-column: 2/4;
    grid-row: 14/16;
}

.circulito1:nth-child(6) {
    grid-column: 5/7;
    grid-row: 2/4;
}

.circulito1:nth-child(7) {
    grid-column: 5/7;
    grid-row: 5/7;
}

.circulito1:nth-child(8) {
    grid-column: 5/7;
    grid-row: 8/10;
}

.circulito1:nth-child(9) {
    grid-column: 5/7;
    grid-row: 11/13;
}

.circulito1:nth-child(10) {
    grid-column: 5/7;
    grid-row: 14/16;
}

.circulito1:nth-child(11) {
    grid-column: 8/10;
    grid-row: 2/4;
}

.circulito1:nth-child(12) {
    grid-column: 8/10;
    grid-row: 5/7;
}

.circulito1:nth-child(13) {
    grid-column: 8/10;
    grid-row: 8/10;
}

.circulito1:nth-child(14) {
    grid-column: 8/10;
    grid-row: 11/13;
}

.circulito1:nth-child(15) {
    grid-column: 8/10;
    grid-row: 14/16;
}

/* DE CIRCULITO 1 A 2 */


.circulito2:nth-child(1) {
    grid-column: 2/4;
    grid-row: 2/4;
}

.circulito2:nth-child(2) {
    grid-column: 2/4;
    grid-row: 5/7;
}

.circulito2:nth-child(3) {
    grid-column: 2/4;
    grid-row: 8/10;
}

.circulito2:nth-child(4) {
    grid-column: 5/7;
    grid-row: 2/4;
}

.circulito2:nth-child(5) {
    grid-column: 5/7;
    grid-row: 5/7;
}

.circulito2:nth-child(6) {
    grid-column: 5/7;
    grid-row: 8/10;
}

.circulito2:nth-child(7) {
    grid-column: 8/10;
    grid-row: 2/4;
}

.circulito2:nth-child(8) {
    grid-column: 8/10;
    grid-row: 5/7;
}

.circulito2:nth-child(9) {
    grid-column: 8/10;
    grid-row: 8/10;
}



.cont4{
    grid-column: 5/9;
    grid-row: 2 / 7;
   
    
}

.cont4 img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    
}

.cont5{
    grid-column: 6/10;
    grid-row: 4 / 9;
    padding-top: 100px;
    padding-right: 42px;
   
    
    
}
    

.cont5 img{
    
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease;
    position: relative; /* Asegura que el z-index funcione correctamente */
    
}


.cont6{
    grid-column: 2/5;
    grid-row: 1 / 2;    
    padding: 0px;
    margin-left: -19px;
    
    
}

.cont6 img{
    
    width: 78%;
    
}

.menu {
    font-family: Arial, sans-serif;
    grid-row: 1/2;
    grid-column: 1/13;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
  }

  .menu img {
    width: 25%;
    min-width: 250px;
    margin-left: 11%;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
  }
  
  
  
  .menu ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  
  .menu ul li a:hover {
    color: #cc381e;
    width: 78%;
    
  }


  .cont7{
    grid-row: 2/3;
    grid-column: 9/14;
    background-color: #DFD0B8;
    margin-top: 35px;
    display: grid;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  }

  .cont7B{
    
    background-color: #3C5B6F;
    width: 208px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .cont7B p{
    
    color: #ffffff;
    font-size: 39px;
    margin: 0;
    font-family: cursive;
  }

  .cont8{
    grid-row: 5/6;
    grid-column: 4/9;
    background-color: #3C5B6F;
    margin-top: 52px;
    display: grid;
    justify-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    position: relative;
  }

  .cont8 p{
    
    color: #ffffff;
    font-size: 39px;
    margin: 0;
    font-family: cursive;
  }

  .cont9{
    grid-row: 6/7;
    grid-column: 8/12;
    background-color: #1e5bcc;
    margin-top: 15px;
    margin-bottom: 28px;
    display: grid;
    justify-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  }

  .cont9 p{
    
    color: #ffffff;
    font-size: 50px;
    margin: 0;
    font-family: cursive;
  }


  .cont10{
    grid-row: 6/8;
    grid-column: 9/11;
    
    color: #ffffff;
    font-size: 68px;
    margin-top: 10px;
    margin-left: 56px;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px #5f3504;
  }

  .rayas {
    grid-row: 1/9;
    grid-column: 1/14;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
   
  }

  .raya1{
    grid-row: 3/4;
    grid-column: 9/14;
    display: grid;
    align-items: center;
  }

  .raya2{
    grid-row: 8/9;
    grid-column: 7/14;
    display: grid;
    align-items: center;
  }

  .raya3{
    grid-row: 3/4;
    grid-column: 3/8;
    display: grid;
    align-items: center;
  }

  .raya4{
    grid-row: 7/8;
    grid-column: 1/6;
    display: grid;
    align-items: center;
  }

  .cont11{
    grid-row: 4/6;
    grid-column: 9/14;
    display: grid;
    align-items:center ;
    justify-items: center;
  }

  .cont11 p{
    background-color: rgba(0, 0, 0, 0.4);
   width: 75%;
   border: solid 2px black;
   border-radius: 25px 25px 25px 1px;
   padding: 18px;
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   margin-top: -61px;
  }

  @media screen and (max-width: 888px){
    
    .menu{    
    font-family: Arial, sans-serif;
    grid-row: 1/2;
    grid-column: 1/14;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    
    }

    .menu img{
    min-width: 186px;
    margin-left: 0%;
    }

    .menu ul{
    margin: 0;
    }

    .cont1{
        
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 128px;
        
        
    }
    
    
    .cont1d1, .cont1d2, .cont1d3{
        
    width: 4vh;
    margin-right: 20px;
    }

    .circulito1 {
    border-radius: 50%;
    border: solid 4px rgb(255, 255, 255);
    width: 4vh;
    height: 4vh;
    margin: 5px;
    }

    .circulito2 {
    border-radius: 50%;
    border: solid 4px rgb(255, 255, 255);
    width: 4vh;
    height: 4vh;
    margin: 5px;
    }

    .cont3d2 {
        grid-column: 5 / 7;
        grid-row: 6 / 8;
        
    }

    

    .cont4{
    grid-column: 1/5;
    grid-row: 1 / 7;
       
    }

    .cont5 {
    grid-column: 1 / 7;
    grid-row: 4 / 8;
    padding-top: 60px;
    padding-left: 48px;
    }

    .cont7 {
        
        grid-column: 6 / -1;
           
    }

    .cont7 p{

        font-size: 26px;

    }

    .cont8{
    grid-column: 1/7; 
    }

    .cont8 p{
    font-size: 31px; 
    }

    .cont9{
    grid-column: 1/4; 
    grid-row: 7 / 8;
    }

    .cont9 p{
    font-size: 31px; 
    }

    .cont10 {
        grid-row: 7 / 9;
        grid-column: 2 / 4;
        font-size: 41px;
        
    }
    
    .cont11 {
        grid-row: 4 / 8;
        grid-column: 5 / 14;
        position: relative;
    }
    
    .cont11 p{

        height: auto;


    }

    

    

   
  }

  @media screen and (max-width: 425px){
    .menu ul li a {
        text-decoration: none;
        color: #ffffff;
        padding: 5px 0px; 
        transition: all 0.3s ease;
        font-size: 10px;
    }

    .cont1 {
        grid-column: 1 / 9;
        position: relative;
        z-index: -2;
    }

    .cont3d1{
        position: relative;
        z-index: -2;
    }

    .cont4 {
        grid-column: 3 / 11;
        grid-row: 2 / 7;
        position: relative;
    }

    .cont5 {
        grid-column: 3 / 13;
        grid-row: 2 / 10;
        padding-top: 22px;
        padding-left: 48px;
    }

    .cont7 {
        grid-column: 2 / -1;
        position: relative;
        z-index: -1;
    }

    .cont7B{
        width: 115px;
    }

    .cont7B p{
        font-size: 19px;
    }

    .cont8 p {
        font-size: 15px;
    }

    .cont8 {
        grid-column: 3 / 12;
    }

    .cont11 {
        grid-row: 11 / -1;
        grid-column: 1 / -1;
    }

    .cont9 p {
        font-size: 18px;
    }

    .cont9 {
        grid-column: 5 / 12;
        grid-row: 7 / 8;
    }

    .cont10 {
        grid-row: 7 / 9;
        grid-column: 5 / 7;
        font-size: 27px;
    }

        .cont5 {
        grid-column: 3 / 13;
        grid-row: 2 / 10;
        padding-top: 22px;
        padding-left: 48px;
    }

  }